/*TODO:
    1. LOGO
    2. Append car info into email sujbect
    3. drop down colors - DONE
    4. email popup size - DONE

PROD Issues
    1. pictures in email - 
    2. popup size - DONE
    3. dropdown color - DONE
*/


#cars{
    width:920px;
    margin-top:20px;
    margin-left:10px;
    margin-bottom:10px;
    float:left;

}

.email-clk{
    font-size:smaller;
    float: left;
    padding-left: 0px;
}

.box{
    width:450px;
    float:left;
    margin: 0 10px 10px 0;

}
.car-image{
    float:left;
    margin-right:5px;
    width:155px;
    height:auto;
    border: 1px solid #999;
    text-align:center;
    padding: 3px;
    color:white;
    font-size: medium;
}
.inner-box{
    margin:0;
    padding:0;
    width:450px;
}

/*#filter-list{
    float:right;
    padding: 1px;
    color:white;
}*/

#car-newCar{
    color: black;
}

/*#view-details{
    width:800px;
    border:1px;
    font-family:'Lucida Grande', Helvetica, Arial, Verdana, sans-serif;
    font-size:14px;
}*/

#car-glimpse{
    float: left;
    text-align: justify;
    margin-left: 5px;
    font-size: 14px;
    padding: 0 15px 15px 0;
    padding-bottom: 0px;
}

#comfort-list{
    clear: both;
    float: left;
    width: 115px;
    font-size: 12px;
    list-style-type: none;
}

#safety-list{
    float: left;
    width: 110px;
    font-size: 12px;
}

#seats-list{
    clear: both;
    float: left;
    width: 115px;
    font-size: 12px;
}

#soundSystem-list{
    float: left;
    width: 110px;
    font-size: 12px;
}

#windows-list{
    clear: both;
    float: left;
    width: 115px;
    font-size: 12px;
}

#extras-list{
    float: left;
    width: 110px;
    font-size: 12px;
}

#cg-head{
    text-align: center;
}

.images{
/*    clear: both;*/
    float: left;
    width: 900px;
    height: 550px;
}
.car-info{
    float:left;

}

li{
    list-style-type: none;
}

.carHeading{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
}
.left-padding{
    padding-left: 15px;
}

#comment-clr, #sort-list,
.car-record, .priceLimit, .mileageLimit, #span-heading{
    color: white;
}
#sort-list {
    float: left;
    margin: 2px;
}
/*  .toAddress, .subjectEmail, .commentEmail{
    margin-left: 25px;
    float:right;
}
#toAdd, #sub, #com{
    clear:both;
}
.clear-btn, .send-btn{
    float:left;
    margin-left: 5px;
}*/
