<?xml version="1.0" encoding="UTF-8"?>
<beans   xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.directwebremoting.org/schema/spring-dwr
    http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd">
   
    
    <!--
     ##########################################################################
                            Services Declerations Begin
     ##########################################################################
    -->

    <!-- Example Services Decleration


    <bean id="personServiceImpl" class="com.company.projectname.service.impl.PersonServiceImpl" >
        <property name="personDao" ref="personDao"/>
    </bean>

    
    -->
    <bean id="emailServiceImpl" class="com.bia.ccm.services.impl.EMailServiceImpl" />
    <bean id="caseConverterImpl" class="com.bia.converter.CaseConverterImpl" />
    <bean id="userAjaxService" class="com.bia.ccm.services.ajax.UserAjaxService" >
        <dwr:remote javascript="AjaxUserService">
            <dwr:include method="forgotPassword" />
            <dwr:include method="resetPassword" />
            <dwr:include method="registerNewOrganization" />
            <dwr:include method="getLoggedInUserRole" />
            <dwr:include method="isUserAdmin" />
            <dwr:include method="getUserRole" />
            <dwr:include method="createCustomer" />
        </dwr:remote>
        <property name="caseConverter" ref="caseConverterImpl" />
        <property name="emailService" ref="emailServiceImpl" />
    </bean>
    <bean id="workAjaxService" class="com.bia.ccm.services.ajax.WorkAjaxService" >
        <dwr:remote javascript="AjaxWorkService">
            <dwr:include method="getActiveSystems" />
            <dwr:include method="getSystemByNameAndOrganization" />
            <dwr:include method="leaseSystem" />
            <dwr:include method="unleaseSystem" />
            <dwr:include method="getPayableAmount" />
            <dwr:include method="createCustomer" />
            <dwr:include method="getCustomer" />
            <dwr:include method="getUserWithPic" />
            <dwr:include method="addSuggestion" />
            <dwr:include method="getSystemLease" />
            <dwr:include method="addService" />
            <dwr:include method="chargePayment" />
            <dwr:include method="getAllServices" />
            <dwr:include method="getAllMembershipTypes" />
            <dwr:include method="saveMembershipType" />
            <dwr:include method="getMembershipDiscountses" />
            <dwr:include method="saveMembershipDiscount" />
            <dwr:include method="getMemberships" />
            <dwr:include method="saveMembership" />
            <dwr:include method="createMembershipDiscount" />
        </dwr:remote>
        <property name="caseConverter" ref="caseConverterImpl" />
        <property name="emailService" ref="emailServiceImpl" />
    </bean>
    <bean id="adminAjaxService" class="com.bia.ccm.services.ajax.AdminAjaxService" >
        <dwr:remote javascript="AjaxAdminService">
            <dwr:include method="getAllSystems" />
            <dwr:include method="saveSystems" />
            <dwr:include method="getAllUsers" />
            <dwr:include method="saveUsers" />
            <dwr:include method="saveAndGetUsers" />
            <dwr:include method="getAllEmailPreference" />
            <dwr:include method="saveEmailPreference" />
            <dwr:include method="getAllEmailTimePreference" />
            <dwr:include method="saveEmailTimePreference" />
            <dwr:include method="deleteEmailTimePreference" />
            <dwr:include method="getAllSystemLease" />
            <dwr:include method="getOrganization" />
            <dwr:include method="saveOrganization" />
            <dwr:include method="getSystemLease" />
            <dwr:include method="getReport" />
            <dwr:include method="updateRentalPrice" />
            <dwr:include method="deleteEmail" />
            <dwr:include method="saveService" />
            <dwr:include method="deleteService" />
            <dwr:include method="getAllServices" />
        </dwr:remote>
        <property name="caseConverter" ref="caseConverterImpl" />
    </bean>
    <bean id="customerAjaxService" class="com.bia.ccm.services.ajax.CustomerAjaxService" >
        <dwr:remote javascript="AjaxCustomerService">
            <dwr:include method="getMySystemLease" />
        </dwr:remote>
    </bean>
    <dwr:configuration>
        <dwr:convert type="bean" class="com.bia.ccm.entity.*" />
        <dwr:convert type="bean"  class="java.util.*"  />
    </dwr:configuration>
</beans>